/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/** STYLING **/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: 'Dosis', sans-serif;
  color: rgba(63,64,40,1);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

/* MENU */

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.menu {
  margin-left: 3%;
}

.menu li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

.menu li a {
  display: block;
  text-decoration: none;
  font-size: 14;
  font-family: 'Dosis', sans-serif;
  color: #1e1e1e;
  padding: 0 20px;
}

.menu li a:hover{
  color: green;
}


/*HEADER*/

.header-banner {
  background-image:url("img/1126VanessaAldoPreviews_LS_014.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;

  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 2.5%;
  background-color: #eee;
  color: #FFF;
}

.header-banner h3 {
  font-weight: lighter;
  font-size: 25px;
}

/*ABOUT ME*/

.About-Me-Container {
  /* display: table-cell; */
  /* width: 100%; */
  padding-top: 7%;
  padding-bottom: 7%;
  /* vertical-align: middle; */
  /* margin: auto; */
  position: relative;
  line-height: 40px;
  background-color: #eee;
}

.pic {
  width: 25%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.bio {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  float: right;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: auto;
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  color: #1e1e1e;
}

.img-Vanessa-Headshot {
  width: 65%;
  text-align: center;
  vertical-align: middle;
}

.clear {
  clear: both;
}

/*Tableau*/

.Tableau-background {
  background-color: #FFF;
}

.Tableau {
  /* display: table-cell; */
  width: 80%;
  /* padding-top: 7%; */
  padding-bottom: 7%;
  /* vertical-align: middle; */
  margin: auto;
  /* position: relative;
  line-height: 40px;  */

}

/*PROJECTS*/

.Projects {
  padding: 4% 7%;
  background-color: rgba(63,64,40,0.1);
  color: rgba(63,64,40,1);
  text-decoration: none;
  line-height: normal;
}

.Projects ul {
  font-size: 20px;
  padding-left: 4%;
  font-weight: lighter;
}

.Articles div {
  color: #388039;
}

.Speaking {
  /* display: table-cell;
  width: 100%;
  vertical-align: middle;
  margin: auto;
  position: relative; */
}

.Speaking-List {
  float: left;
  font-weight: lighter;
  width: 66%;
}

.rightalign {
  float: right;
}

.leftalign {
  float: left;
  font-weight: normal;
}

/* .places {
  width: 66%;
  float: left;
}
.dates {
  width: 33%;
  float: right;
  text-align: right;
  list-style-type: none;
} */

/* .Speaking-pic {
  width: 33%;
  float: right;
} */

.img-Vanessa-Speaking {
  width: 70%;
  text-align: center;
  vertical-align: middle;
}

/*Community*/

.Community {
  padding: 4% 10%;
  padding-bottom: 10%;
}

.Community-text {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
}

.Communityleftalign {
  width: 45%;
  float: left;
  padding-bottom: 10%;
}

.Communityrightalign {
  width: 45%;
  float: right;
  padding-bottom: 10%;
}

.img-Tableau-Ambassador {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-GAPSA-Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-CIT59x-Logo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.tableauPlaceholder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5%;
}
